/* style.css */
body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 2, 21);
    font-family: 'Courier New', monospace;
    color: #ddd;
    margin: 0;
    padding: 0%;
}

.home_flex_1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.home_flex_2{
    margin-top: 6%;
    height: 88%;
    display: flex;
    flex-direction: row;
}

.home_flex_3{
    display: flex;
    flex-direction: column;
    width: 58.5%;
}

.home_flex_4{
    display: flex;
    flex-direction: row;
    background-color:rgb(3, 2, 21);
    margin-top: 15%;
    margin-left: 4.5%;
    width: 91%;
    height: 40%;
}

.home_flex_5{
    display: flex;
    flex-direction: column;
    background-color:#299ae1;
    margin-top: 1%;
    margin-left: 0.5%;
    width: 25%;
    border-radius: 10px;
    height: 100%;
}

.sidenav {
    height: 100%;
    width:15%;
    position: relative;
    /* z-index: 1; */
    left: 0%;
    background-color: #299ae1;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    padding-top: 20px;
}

.sidenav-button {
    display: inline-block;
    height: 5%;
    text-align: center;
    background-color: #299ae1;
    color: white;
    text-decoration: none;
}

.sidenav-button:hover {
    background-color: #0a1e70;
}

.sidenav a {
    font-family: 'Courier New', monospace;
    text-align: center;
    padding: 6px 8px 6px 8px;
    font-size: 20px;
    color: #ddd;
    display: block;
}

/* .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */

.nifty_box{
    position: fixed;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    bottom: 77.5%;
    left: 17%;
    height: 11%;
    width: 55%;
    background-color: #0a1e70
}

.nifty_box_h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20%;
    margin-top: 4.7%;
    margin-left: 2%;
}

.NIFTY50_box{
    background-color:#0a1e70;
    width: 25%;
    height: 60%;
    margin-top: 2.7%;
    margin-left: 3%;
}

.nifty_form{
    background-color:#0a1e70;
    width: 75%;
    height: 80%;
    margin-top: 2.7%;
    margin-left: 12%;
}

.nifty_submit{
    background-color:#0a1e70;
    width: 100%;
    height: 100%;
    margin-top: 3.3%;
    margin-left: 2%;
    font-size: 35px;
    color: #ddd;
    font-family: 'Courier New', monospace;
    border: 0;
}

.nifty_submit:hover{
    background-color: #299ae1;
}

.home_table_1{
    display: flex;
    flex-direction: column;
    width:49%;
    height: 98%;
    margin-left:0.3%;
    background-color:rgba(27, 152, 94,1);
    border-radius: 10px;
}

.home_table_2{
    display: flex;
    flex-direction: column;
    width:49%;
    height: 98%;
    margin-left:6.3%;
    background-color:rgba(226, 79, 50,1);
    border-radius: 10px;
}

.home_table_form_1{
    display: flex;
    flex-direction: column;
    width:95%;
    height: 76%;
    margin-left: 2.5%;
    background-color: rgba(27, 152, 94,1);
    border-radius: 10px;
}

.home_table_form_2{
    display: flex;
    flex-direction: column;
    width:95%;
    height: 76%;
    margin-left: 2.5%;
    background-color: rgba(226, 79, 50,1);
    border-radius: 10px;
}

.home_table_submit_1{
    width:98%;
    height: 98%;
    margin-left:1%;
    margin-top: 0.2%;
    background-color: rgba(27, 152, 94,1);
    font-family: 'Courier New', monospace;
    color: #ddd;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}

.home_table_submit_2{
    width:98%;
    height: 98%;
    margin-left:1%;
    margin-top: 0.2%;
    background-color: rgba(226, 79, 50,1);
    font-family: 'Courier New', monospace;
    color: #ddd;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}

.home_table_submit_1:hover{
    background-color: #26ab6d;
}

.home_table_submit_2:hover{
    background-color: rgba(220,102,76,1);
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.analyze_plot_container {
    margin-left: 10%;
    height: 600px;
    margin-top: 7%;
}

.topnav {
    top:10%;
    height: 23%;
    width: 100%;
    position: relative;
    z-index: 1;
    left: 0;
    background-color: #299ae1;
    overflow-x: hidden;
    padding-top: 0px;
}

.topnav_header{
    top: 10%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.topnav_submit{
    margin-top:2%;
    width: 100%;
    height: 30%;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    text-align: center;
    color: #ddd;
    border:0;
    background-color: #299ae1;
}

.topnav_submit:hover{
    background-color: #0a1e70;
}

.topnav select {
    width: 300px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.topnav .form-group {
    align-items: center;
    margin-top: 0.2%;
    padding: 1px;
}

.filter-box {
    margin-top: 100px;
    width: 400px;
    height: 200px;
    background-color: #007bff;
}

.filter-box form {
    font-family: 'Courier New', monospace;
    color: #00ff08;
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}

h2 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.welcome-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.welcome-container h1 {
    margin-bottom: 20px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c82333;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

/* Consolidate sidebar styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #28d3dc;
    padding-top: 20px;
    color: #fff;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.graph {
    width: 80%;
    max-width: 800px;
}

/* Add these styles to limit the max width of the graph container */
.plotly-graph {
    max-width: 800px;
    /* Set your preferred maximum width */
    width: 100%;
    margin: auto;
    /* Center the graph within the container */
}

.drop-down {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}