/* style.css */
body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 2, 21);
    font-family: 'Courier New', monospace;
    color: #ddd;
    margin: 0;
    padding: 0%;
}

.sidenav {
    top:10%;
    height: 90%;
    width:15%;
    position: relative;
    z-index: 1;
    left: 0%;
    margin: 0%;
    background-color: #299ae1;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-button {
    display: inline-block;
    /* padding: 10px 20px 10px 20px; */
    height: 5%;
    text-align: center;
    background-color: #299ae1;
    color: white;
    text-decoration: none;
}

.sidenav-button:hover {
    background-color: #0a1e70;
}

.sidenav a {
    font-family: 'Courier New', monospace;
    text-align: center;
    padding: 6px 8px 6px 8px;
    font-size: 20px;
    color: #ddd;
    display: block;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nifty {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 30%;
    left: 20%;
    height: 15%;
    width: 20%;
    background-color: #efead2;
}

.nifty h1 {
    font-family: 'Courier New', monospace;
    color: #00ff08;
    text-align: center;
    font-size: 30px;
    height: 50%;
}

.nifty-button{
    top: 30%;
    height: 60%;
}

.nifty a {
    font-family: 'Courier New', monospace;
    padding: 6px 8px 6px 8px;
    font-size: 16px;
    color: #00ff08;
    display: block;
}

.nifty a:hover {
    color: #44a812;
}

.nifty-button {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: #efead2;
    color: white;
    text-decoration: none;
}

.nifty-button:hover {
    background-color: #7f815b;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.analyze_plot_container {
    margin-left: 10%;
    height: 600px;
    margin-top: 12%;
}

.topnav {
    top:6%;
    height: 23%;
    width: 100%;
    position: relative;
    z-index: 1;
    left: 0;
    background-color: #299ae1;
    overflow-x: hidden;
    padding-top: 0px;
}

.topnav_header{
    top: 10%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.topnav_submit{
    margin-top:2%;
    width: 100%;
    height: 20%;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    text-align: center;
    color: #ddd;
    background-color: #299ae1;
}

.topnav_submit:hover{
    background-color: #0a1e70;
}

.topnav select {
    width: 300px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

/* .topnav select option {
    font-family: 'Courier New', monospace;
    font-size: 25 px;
    text-align: center;
} */

/* .topnav button {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    color: #00ff08;
    background-color: #efead2; 
    display: block;
} */

/* .topnav button:hover {
    color: #44a812;
    background-color: #7f815b;
} */

.topnav .form-group {
    align-items: center;
    margin-top: 0.2%;
    padding: 1px;
}

.filter-box {
    margin-top: 100px;
    width: 400px;
    height: 200px;
    background-color: #007bff;
}

.filter-box form {
    font-family: 'Courier New', monospace;
    color: #00ff08;
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}

h2 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
}

.welcome-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.welcome-container h1 {
    margin-bottom: 20px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c82333;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

/* Consolidate sidebar styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #28d3dc;
    padding-top: 20px;
    color: #fff;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.graph {
    width: 80%;
    max-width: 800px;
}

/* Add these styles to limit the max width of the graph container */
.plotly-graph {
    max-width: 800px;
    /* Set your preferred maximum width */
    width: 100%;
    margin: auto;
    /* Center the graph within the container */
}

.drop-down {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.top_nav_bar{
    width:100%;
    height:6%;
    margin:auto;
}

.icon{
    width:20%;
    float:left;
    height:6%;
}

.logo{
    color:#1aa8db;
    font-size:40px;
    font-family:'Arial';
    padding-left: 10%;
    float:left;
    padding-top:1%;
    width:100%;
}

.menu{
    margin-right: 5%;
    width:100%;
    float:right;
    height:6%;
}

ul{
    float:right;
    display: flex;
    justify-content:right;
    align-items:right;
    margin-right:0;
}

/* ul li{
    list-style:none;
    margin-left:5%;
    margin-top: 4%;
    font-size:20px;
    background-color: #299ae1;
    width:100%;
    height:100%;
    border-radius: 8px;
    padding:2%;
} */

.top_nav_button{
    list-style:none;
    margin-left:8%;
    margin-top: 4%;
    font-size:20px;
    background-color: #299ae1;
    width:100%;
    height:100%;
    border-radius: 8px;
    padding:2%;
}
ul a{
    list-style:none;
    margin-left:5%;
    margin-top: 4%;
    text-decoration:none;
    color:#ddd;
    font-family:'Courier New', monospace;
    font-weight:bold;
    font-size:20px;
    transition: 0.4s ease-in-out;
}

ul a:hover{
    color:#119adf;
}

.top_nav_button:hover{
    list-style:none;
    margin-left:8%;
    margin-top: 4%;
    font-size:20px;
    background-color: #d4e7f3;
    width:100%;
    height:100%;
    border-radius: 8px;
    padding:2%;
}
/* ul li :hover{
    list-style:none;
    background-color: #f1f4f7;
    width:100%;
    height:100%;
    padding:0;
    border-radius: 8px;
}
ul :hover{
    float:right;
    display: flex;
    justify-content:right;
    align-items:right;
    margin-right:0;
} */

.fas.fa-user {
    font-size: 2em; /* Adjust the size of the user logo */
    color:#119adf; /* Adjust the color */
    text-decoration: none; /* Remove underline */
    margin-top: 15px; /* Adjust as needed for spacing */
    margin-right: -50px;
    margin-left: 20px;
}

.fas.fa-user:hover{
    font-size: 2em; /* Adjust the size of the user logo */
    color:#ffffff; /* Adjust the color */
    text-decoration: none; /* Remove underline */
    margin-top: 15px; /* Adjust as needed for spacing */
    margin-right: -40px;
    margin-left: 20px;
}

.side_info_bar{
    width:25%;
    height:90%;
    padding-top:5%;
    /* justify-content: center; */
    align-items: center;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.user_photo{
    width:70%;
    overflow:hidden;
}
.user_photo img{
    width:100%;
    height:auto;
    display: block;
}

.user_data{
    text-align:center;
}

.user_data ul{
    list-style:none;
    display:block;
    padding:0;
    font-size: 140%;
    line-height: 200%;
}
.change_info_button{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #119adf;
    border-radius: 10px;
}
.change_info_button a{
    text-align: center;
    color:#d4e7f3;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.change_info_button:hover{
    background-color: #fbfeff;
}
.change_info_button a:hover{
    color:#119adf;
}
.wrapper{
    justify-content:center;
    align-items:center;
    min-height:100vh;
    width:100%;
    height:100%;
    display:flex;
    background-image:url("cadef400-151f-11ea-91a1-7e0f83e7b2cf.jpeg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.details_box{
    position:absolute;
    width:25%;
    height:60%;
    backdrop-filter: blur(35px);
    border: 2px solid #ffffff;
    border-radius:15px;
    padding-top: 1%;
    padding-left: 3%;
    padding-right:3%;
    padding-bottom: 3%;
    color:#ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
}

.details_box_pass{
    position:absolute;
    width:25%;
    height:35%;
    backdrop-filter: blur(35px);
    border: 2px solid #ffffff;
    border-radius:15px;
    padding-top: 1%;
    padding-left: 3%;
    padding-right:3%;
    padding-bottom: 1%;
    color:#ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
}
.details-header{
    position:relative;
    top:0%;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:15%;
    margin-top:4%;
    margin-bottom: 4%;
    /* font-size: 150%;
    font-weight:400; */
}

.details-header a{
    font-size:200%;
    color:#ffffff;
    font-weight:bold;
}

.input_box{
    position:relative;
    display:flex;
    flex-direction:column;
    height:100%;
    margin-top: 2.5%;   
    margin-bottom: 2.5%;      
    vertical-align:middle;
}
.input_box_pass{
    position:relative;
    display:flex;
    flex-direction:column;
    height:80%;
    margin-top: 2.5%;   
    margin-bottom: 2.5%;      
    vertical-align:middle;
}

.input-field{
    width:100%;
    height:100%;
    font-size:16px;
    background:transparent;
    color: #ffffff;
    border: 2px solid #0000;
    border-radius: 30px;
    outline:none;
}

.edit_label{
    position:absolute;
    transition: 0.2s;
    margin-left:2%; 
    margin-top:4%;  
    font-size:150%;  
}
.input-field:focus ~ .edit_label,
.input-filed:valid ~ .edit_label{   
    position:absolute;
    top:-25%;
    left: 0%;
    font-size: 14px;
    background-color: #119adf;
    border-radius:30px;
    color:#f2f2f2;
    padding: 0 10px;
}
.icon-update_details{
    position:absolute; 
    margin-left:90%;     
    font-size:30px;
    margin-top:4%;   
}

.forgot a{
    display:flex;
    justify-content:right;
    font-size:15px;
    margin-right: 0%;
    color: #ffffff;
}

.forgot a:hover{
    color:#119adf;
}

.input-submit{
    width:100%;
    height:50px;
    background:#119adf;
    color:#ffffff;
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
    margin-bottom: -2%;
}

.input-submit:hover{
    background:#ffffff;
    color:#119adf;
}

.register{
    text-align:center;
}
.register a{
    font-weight:500;
}

