/* style.css */
body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(3, 2, 21);
    font-family: "Roboto", sans-serif;
    color: #ddd;
    margin: 0;
    padding: 0%;
}

.wrapper{
    justify-content:center;
    align-items:center;
    min-height:100vh;
    width:100%;
    height:100%;
    display:flex;
    background-image:url("cadef400-151f-11ea-91a1-7e0f83e7b2cf.jpeg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.details_box{
    position:absolute;
    width:20%;
    height:60%;
    margin-left: 36%;
    margin-top:7%;
    backdrop-filter: blur(35px);
    border: 2px solid #ffffff;
    border-radius:15px;
    padding-top: 1%;
    padding-left: 3%;
    padding-right:3%;
    padding-bottom: 1%;
    color:#ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
}

.details_box_pass{
    position:absolute;
    width:22%;
    height:40%;
    margin-left: 34%;
    margin-top:15%;
    backdrop-filter: blur(35px);
    border: 2px solid #ffffff;
    border-radius:15px;
    padding-top: 1%;
    padding-left: 3%;
    padding-right:3%;
    padding-bottom: 1%;
    color:#ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
}

.details-header{
    position:relative;
    top:0%;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:15%;
    margin-top:4%;
    margin-bottom: 4%;
}

.details-header a{
    font-size:200%;
    color:#ffffff;
    font-weight:bold;
}

.input_box{
    position:relative;
    display:flex;
    flex-direction:column;
    height:100%;
    margin-top: 2.5%;   
    margin-bottom: 2.5%;      
    vertical-align:middle;
}

.input_box_pass{
    position:relative;
    display:flex;
    flex-direction:column;
    height:80%;
    margin-top: 2.5%;   
    margin-bottom: 2.5%; 

    vertical-align:middle;
}

.input-field{
    width:100%;
    height:100%;
    font-size:22px;
    background:transparent;
    color: #ffffff;
    border: 2px solid #0000;
    border-radius: 30px;
    outline:none;
}

.edit_label{
    position:absolute;
    transition: 0.2s;
    margin-left:2%; 
    margin-top:7%;  
    font-size:120%;  
}
.input-field:focus ~ .edit_label,
.input-field:valid ~ .edit_label{   
    position:absolute;
    top:-40%;
    left: 0%;
    font-size: 14px;
    background-color: #119adf;
    border-radius:30px;
    color:#f2f2f2;
    padding: 0 10px;
}

.icon-update_details{
    position:absolute; 
    margin-left:87%;     
    font-size:30px;
    margin-top:6%;   
}

.forgot a{
    display:flex;
    justify-content:right;
    font-size:15px;
    margin-right: 0%;
    color: #ffffff;
}

.forgot a:hover{
    color:#119adf;
}

.input-submit{
    width:100%;
    height:50px;
    background:#119adf;
    color:#ffffff;
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
    margin-bottom: -4%;
}

.input-submit:hover{
    background:#ffffff;
    color:#119adf;
}

.register{
    text-align:center;
}

.register a{
    font-weight:500;
}

.home_flex_1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.home_flex_2{
    margin-top: 2.5%;
    height: 92%;
    display: flex;
    flex-direction: row;
}

.home_flex_3{
    display: flex;
    flex-direction: column;
    width: 58.5%;
}

.home_flex_4{
    display: flex;
    flex-direction: row;
    background-color:rgb(3, 2, 21);
    margin-top: 58%;
    margin-left: 4.5%;
    width: 91%;
    height: 40%;
}

.home_flex_5{
    display: flex;
    flex-direction: column;
    background-color:#299ae1;
    margin-top: 0%;
    margin-left: 0.5%;
    width: 25%;
    border-radius: 10px;
    height: 100%;
}

.about_flex{
    display: flex;
    flex-direction: column;
    background-color:#299ae1;
    margin-top: 12%;
    margin-left: 25%;
    width: 50%;
    border-radius: 10px;
    padding: 1%;
    font-size: 20px;
    height: 60%;
}

.sidenav {
    height: 100%;
    width:15%;
    position: relative;
    /* z-index: 1; */
    left: 0%;
    background-color: #299ae1;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    padding-top: 20px;
}

.sidenav-button {
    display: inline-block;
    height: 5%;
    text-align: center;
    background-color: #299ae1;
    color: white;
    text-decoration: none;
}

.sidenav-button:hover {
    background-color: #0a1e70;
}

.sidenav a {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 6px 8px 6px 8px;
    font-size: 20px;
    color: #ddd;
    display: block;
}

.top_nav_bar{
    width:100%;
    height:6%;
    margin:auto;
}

.top_nav_icon{
    width:20%;
    float:left;
    height:6%;
}

.top_nav_logo{
    color:#1aa8db;
    font-size:40px;
    font-family:'Arial';
    padding-left: 10%;
    float:left;
    padding-top:1%;
    width:100%;
}

.top_nav_menu{
    margin-right: 5%;
    width:100%;
    float:right;
    height:6%;
}

ul{
    float:right;
    display: flex;
    justify-content:right;
    align-items:right;
    margin-right:0;
}

ul a{
    list-style:none;
    margin-left:5%;
    margin-top: 4%;
    text-decoration:none;
    color:#ddd;
    font-family:'Courier New', monospace;
    font-weight:bold;
    font-size:20px;
    transition: 0.4s ease-in-out;
}

ul a:hover{
    color:#119adf;
}

.top_nav_button{
    list-style:none;
    margin-left:8%;
    margin-top: 4%;
    font-size:20px;
    background-color: #299ae1;
    width:100%;
    height:100%;
    border-radius: 8px;
    padding:2%;
}

.top_nav_button:hover{
    list-style:none;
    margin-left:8%;
    margin-top: 4%;
    font-size:20px;
    background-color: #d4e7f3;
    width:100%;
    height:100%;
    border-radius: 8px;
    padding:2%;
}

.fas.fa-user {
    font-size: 2em;
    color:#119adf;
    text-decoration: none;
    margin-top: 15px;
    margin-right: -50px;
    margin-left: 20px;
}

.fas.fa-user:hover{
    font-size: 2em; 
    color:#ffffff; 
    text-decoration: none; 
    margin-top: 15px; 
    margin-right: -40px;
    margin-left: 20px;
}

.nifty_box{
    position: fixed;
    display: flex;
    flex-direction: row;
    /* border-radius: 10px; */
    bottom: 34%;
    left: 17%;
    height: 55%;
    width: 55%;
    background-color: #0a1e70
}

.nifty_box_h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20%;
    margin-top: 4.7%;
    margin-left: 2%;
}

.NIFTY50_box{
    background-color:#0a1e70;
    width: 25%;
    height: 60%;
    margin-top: 2.7%;
    margin-left: 3%;
}

.nifty_form{
    background-color:#0a1e70;
    width: 75%;
    height: 80%;
    margin-top: 2.7%;
    margin-left: 12%;
}

.nifty_submit{
    background-color:#0a1e70;
    width: 100%;
    height: 100%;
    margin-top: 3.3%;
    margin-left: 2%;
    font-size: 35px;
    color: #ddd;
    font-family: "Roboto", sans-serif;
    border: 0;
    border-radius: 10px;
}

.nifty_submit:hover{
    background-color: #299ae1;
}

.home_table_1{
    display: flex;
    flex-direction: column;
    width:49%;
    height: 98%;
    margin-left:0.3%;
    background-color:rgba(27, 152, 94,1);
    border-radius: 10px;
}

.home_table_2{
    display: flex;
    flex-direction: column;
    width:49%;
    height: 98%;
    margin-left:6.3%;
    background-color:rgba(226, 79, 50,1);
    border-radius: 10px;
}

.home_table_form_1{
    display: flex;
    flex-direction: column;
    width:95%;
    height: 76%;
    margin-left: 2.5%;
    background-color: rgba(27, 152, 94,1);
    border-radius: 10px;
}

.home_table_form_2{
    display: flex;
    flex-direction: column;
    width:95%;
    height: 76%;
    margin-left: 2.5%;
    background-color: rgba(226, 79, 50,1);
    border-radius: 10px;
}

.home_table_submit_1{
    width:98%;
    height: 98%;
    margin-left:1%;
    margin-top: 0.2%;
    background-color: rgba(27, 152, 94,1);
    font-family: "Roboto", sans-serif;
    color: #ddd;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}

.home_table_submit_2{
    width:98%;
    height: 98%;
    margin-left:1%;
    margin-top: 0.2%;
    background-color: rgba(226, 79, 50,1);
    font-family: "Roboto", sans-serif;
    color: #ddd;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}

.home_table_submit_1:hover{
    background-color: #26ab6d;
}

.home_table_submit_2:hover{
    background-color: rgba(220,102,76,1);
}

/* .login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
} */

.analyze_plot_container {
    margin-left: 10%;
    height: 600px;
    margin-top: 3%;
}

.topnav {
    top:4%;
    height: 23%;
    width: 100%;
    position: relative;
    z-index: 1;
    left: 0;
    background-color: #299ae1;
    overflow-x: hidden;
    padding-top: 0px;
}

.topnav_header{
    top: 10%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.topnav_submit{
    margin-top:2%;
    width: 100%;
    height: 30%;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-align: center;
    color: #ddd;
    border:0;
    background-color: #299ae1;
}

.topnav_submit:hover{
    background-color: #0a1e70;
}

.topnav select {
    width: 300px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.topnav .form-group {
    align-items: center;
    margin-top: 0.2%;
    padding: 1px;
}

.filter-box {
    margin-top: 100px;
    width: 400px;
    height: 200px;
    background-color: #0a1e70;
}

.filter-box form {
    font-family: "Roboto", sans-serif;
    color: #00ff08;
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}

.watchlist_button{
    margin-left: 5%;
    margin-top: 3%; 
    width: 3%;
    height: 50px;
    background-color:  #299ae1;
    border-radius: 10px;
}

.watchlist_submit{
    width: 100%;
    height: 100%;
    background-color:  #299ae1;
    border-radius: 10px;
    border: 0;
    padding: 0;
}

.watchlist_submit:hover{
    background-color:  #ddd;
}

.icon_box{
    margin-top: 0%;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 15%;
    border-radius: 10px;     
    font-size:30px;
    color:#ddd
}

.icon_box:hover{
    color:#299ae1;
}

.plot_flex_box{
    display: flex;
    flex-direction: row;
}

.analyze_plot_container {
    /* margin-left: 10%; */
    width:80%
}

.filtered_stock_table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 1%;
    margin-left: 5%;
}

.filtered_stock_table th, .filtered_stock_table td {
    padding: 8px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
}

.filtered_stock_table th {
    height: 10%;
    height: 50px;
    background-color: #0a1e70;
    font-size: 25px;
}

.filtered_stock_table tr:nth-child(even) {
    background-color: #299ae1;
    height: 10px;
}

.filtered_stock_table tr:nth-child(odd) {
    background-color: #299ae1;
    height: 10px;
}

.filtered_stock_table tr:hover {
    background-color: #0a1e70;
}

.filter_table_submit_1{
    width:100%;
    height: 100%;
    margin-left:0%;
    margin-top: 0%;
    background-color: #299ae1;
    font-family: "Roboto", sans-serif;
    color: #ddd;
    font-size: 20px;
    border-radius: 0px;
    border: 0;
}

.filter_table_submit_1:hover{
    background-color: #0a1e70;
}

.balance_box{
    width: 30%;
    height: 4.5%;
    margin-top: 4%;
}

.side_info_bar{
    width:25%;
    height:90%;
    padding-top:5%;
    /* justify-content: center; */
    align-items: center;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.user_photo{
    width:70%;
    overflow:hidden;
}
.user_photo img{
    width:100%;
    height:auto;
    display: block;
}

.user_data{
    text-align:center;
}

.user_data ul{
    list-style:none;
    display:block;
    padding:0;
    font-size: 140%;
    line-height: 200%;
}

.change_info_button{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #119adf;
    border-radius: 10px;
}
.change_info_button a{
    text-align: center;
    color:#d4e7f3;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.change_info_button:hover{
    background-color: #fbfeff;
}
.change_info_button a:hover{
    color:#119adf;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.welcome-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.welcome-container h1 {
    margin-bottom: 20px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c82333;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

/* Consolidate sidebar styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #28d3dc;
    padding-top: 20px;
    color: #fff;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.graph {
    width: 80%;
    max-width: 800px;
}

/* Add these styles to limit the max width of the graph container */
.plotly-graph {
    max-width: 800px;
    /* Set your preferred maximum width */
    width: 100%;
    margin: auto;
    /* Center the graph within the container */
}

.drop-down {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}