<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-image:url('background.jpeg') no-repeat center center fixed; background-size: cover;">
    <div class="top_nav_bar">
        <div class="top_nav_icon">
            <h2 class="top_nav_logo">tradescope</h2>
        </div>
        <div class="top_nav_menu">
            <ul>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
                <a href="/homepage" class="top_nav_button">Home</a>
                <a href="/about" class="top_nav_button">About</a>
                <a href="/settings" class="top_nav_button">Settings</a>
                <a href="/logout" class="top_nav_button">Logout</a>
                <a href="/user_info" class="fas fa-user"></a>
            </ul>
        </div>
    </div>
    <div class="home_flex_1">
        <div class="about_flex">
            <div style="text-align: center;" class="about_content">
                <h1>Welcome to TradeScope</h1>
                <p>
                    TradeScope is your go-to trading simulator designed to provide a realistic and educational experience for individuals interested in exploring financial markets.
                </p>
                <p>
                    Whether you're a seasoned investor or a novice trader, TradeScope offers a risk-free environment to practice and refine your trading strategies. Our platform is built on the principles of education, simulation, and community engagement.
                </p>
                <h2>Our Mission</h2>
                <p>
                    Empowering traders by offering a risk-free environment to practice and refine their trading strategies.
                </p>
                <p>
                    Providing educational resources to help users understand market dynamics and make informed investment decisions.
                </p>
                <p>
                    Creating a simulated trading experience that closely mirrors real-world market conditions.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
