<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Enter Stock Symbol</h2>
        <form action="/stockname" method="post">
            <div class="form-group">
                <input type="text" name="stockname" placeholder="stock symbol" required>
            </div>
            <div class="form-group">
                <button type="submit">Get Data</button>
            </div>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</body>
</html>