<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Update User Info</title>
    </head>
</html>
<body>
    <div class="wrapper">
        <div class="details_box_pass">
            <div class="details-header">
                <a >Change Password</a>
            </div>
            <div class="input_box_pass">
                <i class="bx bx-lock icon icon-update_details"></i>
                <input type="password" id="password" class="input-field" required>
                <label for="password" class="edit_label">Password</label>
                
            </div>
            <div class="input_box_pass">
                <i class="bx bx-lock icon icon-update_details"></i>  
                <input type="password" id="password_2" class="input-field" required>
                <label for="password_2" class="edit_label">Confirm Password</label>
                
            <div class="input_box_pass">
                <input type="submit" class="input-submit" value="Update Password"> 
            </div>
        </div>

    </div>
</body>