<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Plotly Plot</title>
</head>
<body>
    <div class="topnav">
        <h1 class="topnav_header">Enter details</h1>
        <form action="/filter_stocks" method="post">
            <div class="form-group">
                <label for="parameter" style="margin-left: 100px;font-size: 20px;">Select Parameter: </label>
                <select name="parameter" style="margin-top: 25px; margin-left: 0px;">
                    <option value="OPEN">OPEN</option>
                    <option value="HIGH">HIGH</option>
                    <option value="LOW">LOW</option>
                    <option value="LTP">LTP</option>
                    <option value="CLOSE">CLOSE</option>
                    <option value="VOLUME">VOLUME</option>
                    <option value="VALUE">VALUE</option>
                    <option value="NO OF TRADES">NUMBER OF TRADES</option>
                </select>
                <label for="lower_bound" style="margin-left: 70px;font-size: 20px;">Enter Lower Bound:</label>
                <input type="text" id="lower_bound" name="lower_bound" required style="width: 300px;">
                <label for="upper_bound" style="margin-left: 70px;font-size: 20px;">Enter Upper Bound:</label>
                <input type="text" id="upper_bound" name="upper_bound" required style="width: 300px;">
            </div>
            <div>
                <button class="topnav_submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="analyze_plot_container">
        <h2 style="text-align: center; color: #ddd; margin-top: 7%;">Filtered Stock Symbols</h2>
            <table class="filtered_stock_table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>{{ param }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for symbol, parameter in filtered_list.items() %}
                    <form action="/stock_graph" method="get">
                        <tr>
                            <td style="width: 40%;">{{ symbol }}</td>
                            <td style="width: 40%;">{{ parameter }}</td>
                            <td style="width:30%">
                            <input type="hidden" name="selected_symbol" value="{{ symbol }}">
                            <button class="filter_table_submit_1" type="submit">View Graph</button>
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>
</html>