<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="sidenav">
    <h1>Homepage</h1>
    <a href="/logout" class="sidenav-button">Logout</a>
    <a href="/stock_graph" class="sidenav-button">Analyze Stock</a>
    <a href="/compare" class="sidenav-button">Compare Stocks</a>
    <a href="/filter_stocks" class="sidenav-button">Filter Stocks</a>
</div>

<div class="nifty">
    <h1 style="margin-bottom: 0px; padding-bottom: 30px;margin-top: 5px;">NIFTY50 INDEX</h1>
    <form action="/analyze_nifty" method="get" style="margin-left: 250px;margin-bottom: 0px;margin-top: -72px;">
        <div class="nifty-button">
            <button type="submit" style="font-family: 'Courier New', monospace; background-color: #efead2;">Analyze</button>
        </div>
    </form>
</div>

</html>