<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Plotly Plot</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="top_nav_bar">
        <img src="static\Screenshot 2024-01-28 002008.png" width="75px" height="75px" id=logo alt="Logo image" style="margin-left: 10px;" />
        <span class="website-name">Trade Well</span>
        <a href="/user_info"><i class="fa fa-fw fa-user"></i></a>
        <a href="/homepage"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/about"><i class="fa fa-info-circle"></i> About</a>
        <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
        <a href="/settings"><i class="fa fa-cogs"></i> Settings</a>
    </div>
    

<div class="user-info-container">
    <img src="static\9131529.png"width="500px" height="500px" class="user-image" alt="User Image">
    <div class="user-details">
        <span class="website-name">Trade Well</span>
        <span>Username: JohnDoe</span>
        <span>Contact: user@example.com</span>
        <span>User ID: 123456</span>
    </div>
</div>
</body>
</html>