<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Plotly Plot</title>
</head>

<body>
    <div class="top_nav_bar">
        <div class="top_nav_icon">
            <div class="top_nav_logo">
                <img style="width: 80%; height: 100%; margin-left:0 ;" src="static/logo.png" alt="TradeScope logo">
            </div>
        </div>
        <div class="top_nav_menu">
            <ul>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
                <a href="/homepage" class="top_nav_button">Home</a>
                <a href="/about" class="top_nav_button">About</a>
                <a href="/analyze_nifty" class="top_nav_button">NIFTY50</a>
                <a href="/logout" class="top_nav_button">Logout</a>
                <a href="/user_info" class="fas fa-user"></a>
            </ul>
        </div>
    </div>
    <div class="home_flex_2">
        <div class="side_info_bar">
            <div class="user_photo">
                <img src="static\9131529.png">
            </div>
            <div class="user_data">
                <ul>
                    <li> Username: {{username}}</li>
                    <li> Name: {{full_name}}</li>
                    <li> Mobile Number: {{mobile_number}}</li>
                    <li> Email: {{email}}</li>
                    <a href="/change_user_info" class="change_info_button">Update User Details</a>
                </ul>
            </div>
        </div>
        <div class="analyze_plot_container" style="margin-left: 3%;">
            <h2 style="text-align: center; color: #ddd; margin-top: 5%;">Watchlist</h2>
                <table class="filtered_stock_table">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>OPEN</th>
                            <th>CLOSE</th>
                            <th>HIGH</th>
                            <th>LOW</th>
                            <th>VIEW GRAPH</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row_data in watchlist %}
                        <form action="/stock_graph" method="get">
                            <tr>
                                <td style="width: 20%;">{{ row_data['SYMBOL'] }}</td>
                                <td style="width: 15%;">{{ row_data['OPEN'] }}</td>
                                <td style="width: 15%;">{{ row_data['CLOSE'] }}</td>
                                <td style="width: 15%;">{{ row_data['HIGH'] }}</td>
                                <td style="width: 15%;">{{ row_data['LOW'] }}</td>
                                <td style="width:20%">
                                <input type="hidden" name="selected_symbol" value="{{ row_data['SYMBOL'] }}">
                                <button class="filter_table_submit_1" type="submit">View Graph</button>
                                </td>
                            </tr>
                        </form>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</body>
</html>